---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import 'type1',
		'colors1';


.header-font {
	color: $primary-color;
}

/*********** GRID LAYOUT ***************/
$tot-width: 100%;
$num-col: 12;
$gut-width: 2%;

$ind-col-width: ($tot-width - ($gut-width * ($num-col - 1))) / $num-col;

@mixin grid($geezy){
  width: ($geezy * $ind-col-width) + ($gut-width * ($geezy - 1));
  /*float: left;*/
  margin-right: $gut-width;
  &:last-child {
    margin-right: auto;
  }
}  

/*************** ROW AND COL FOR GRID ***********/

.row {
    /*margin-top: 2em;*/
    overflow: hidden;
 }  

.col {
  /*height: 2em;*/
  margin-bottom: 1em;
}


/***************************************/


@media (min-width:600px){
  .col{
    margin-bottom: 0;
  }
  .col-1 {
  @include grid(1);
  }

  .col-2 {
  @include grid(2);
  }

  .col-3 {
  @include grid(3);
  }

  .col-4 {
  @include grid(4);
  }
  
  .col-5 {
  @include grid(5);
  }
  
  .col-6 {
  @include grid(6);
  }
  
  .col-7 {
  @include grid(7);
  }
  
  .col-8 {
  @include grid(8);
  }
  
  .col-9 {
  @include grid(9);
  }
  
  .col-10 {
  @include grid(10);
  }
  
  .col-11 {
  @include grid(11);
  }
  
  .col-12 {
  @include grid(12);
  }

	
}

/*************** VARIABLES ********************/

$Font: source-sans-pro;
$PrimaryBackground: #1B50A0;

/*************** SITE HEADER ***********************/

.site-header{
	background-color: $PrimaryBackground;
	margin-bottom: 0;
}

.logo{
	width: 4em;
	padding: 0.5em 0.5em 0em 0.5em;
}

.nav-bar{
	display: inline-block;
	padding: 0em 0.5em 0.5em 0em;
	margin: 0;
	transform: translate(0, -1em);
}

.nav-li{
	font-family: $Font;
	color: white;
	padding: 0.5em;
	text-decoration: none;
	list-style-type: none;
}

/************** CENTER BOX***************************/

.main-body{
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;

}

.center-info{
	float: left;
	margin-top: 3em;
	height: 20em;
	border: 1px solid #D6D7D9;
	overflow: hidden;
}

.search-bar-wrap{
	max-width: 40em;
}

.center-search-bar{
	width: 100%;
	margin: 0;
	transform: translate(9.75em, 0);
	input{
		width: 75%;
		height: 2em;
	}
}

.search-icon{
	background-color: $PrimaryBackground;
	color: white;
	text-align: center;
	max-width: 4em;
	height: 2.37em;
	transform: translate(39em, -2.4em);
}

.icon-move{
	padding: 0.5em;
}

/************** RIGHT INFO BAR **********************/

.info-bar{
	font-family: $Font;
	float: right;
	margin-top: 3em;
}

.profile-box{
	border: 1px solid #D6D7D9;
	height: 10em;
}









