---

---

<!--Version 1 of LinkedIn Dashboard Page-->

<!DOCTYPE html>
<html>

  <!--This include tag adds /_includes/head.html to every page that has layout: default in the front matter -->

  {% include head1.html %}

  <body>
    
    <!--This include tag adds /_includes/header.html to every page that has layout: default in the front matter -->
    {% include header.html %}


      <div class="row">
        <!--Any content underneath the front matter in a page that has layout: default will be inserted here-->
        {{ content }}

        <div class="col col-11 main-body">

        <!--  SIDE INFO -->         

            <div class="col col-3 info-bar">
              
        <!--  PROFILE PIC INFO BOX --> 

              <div class="profile-box">
                
                <div class="picture-info-wrap">
                  <img src="Assets/IMG_0822.jpg" class="profile-pic">
                  <div class="profile-box-name">
                    <li>Scott Anderson</li>
                    <li>UI Design Student</li>
                  </div>  
                </div>  
                  
                <a href="#">   
                  <div class="profile-box-edit">Edit your profile</div>
                </a>
              </div>

        <!--  SHARE BUTTONS -->   
          <div class="button-email-wrap">
            <div class="share-button-wrap">        

              <a href="#">
                <div class="share-button">Share an update</div>
              </a>  
              
              <a href="#">
                <div class="share-button">Upload a photo</div>
              </a>  
              
              <a href="#">
                <div class="share-button">Publish a post</div>
              </a>  

            </div> 

        <!--  FRIENDS EMAIL -->

              <div class="email-box-wrap">
                <div class="friends-invite">Invite Friends</div>

                <div class="friends-email">
                  <form action="">
                    <input type="text" placeholder="Friends Email"/>
                  </form>
                </div>

              </div>
            </div>
        <!--  AD SPACE -->
   
              <div class="ad-box">
                <div class="ad-text">
                  [Ad Space]
                </div>
              </div>           

            </div>

        <!--    CENTER BOX -->    

            <div class="col col-8 center-info">
                  
        <!--   CENTER SEARCH BAR -->          

                <div class="center-search-bar">  
                  <form action="">
                    <input type="text" placeholder="Search for people, jobs, companies"/>
                  </form>
                </div>  
                  <a href="#">
                  <div class="search-icon">
                    <div class="icon-move">
                       <i class="fa fa-search"></i>
                    </div>   
                  </div>
                  </a>

        <!--   CENTER MAIN ACTIVITY AND NEWS BOX -->             

                  <div class="center-main-box">
                    <div class="center-main-box-header">

          <!--     CENTER TOGGLE BUTTONS -->          
                      
                      <div class="button-wrapper">
                        <a href="#" class="button active" data-ui="buttonActive">ACTIVITY</a>
                        <a href="#" class="button" data-ui="buttonNews">NEWS</a>
                      </div> 
                    </div>      
         
          <!--    ACTIVITY CONTENT -->
                        
                      <div class="button-content active" id="buttonActive">
                        
                        <div class="activity-wrap">

                         <div class="views-wrap"> 
                          <div class="activity-views">
                            255
                          </div>
                          <div class="profile-days-viewed">
                            <li>Profile Views</li>
                            <li>Last 90 Days</li>
                          </div> 
                          
                         </div><!--views-wrap-->

                         <div>

                          <img src="http://cdn2.hubspot.net/hub/53/file-535836995-png/Blog-Related_Images/provile-view.png" class="graph">

                         </div><!--graph-->

                         <div class="make-connection">
                          Make a connection
                         </div><!--make-connection-->
                         
                         <div class="connection-wrap">

                          <div class="connect-box">

                            <img src="https://media.licdn.com/media/p/7/005/05b/182/10cf1eb.jpg" class="connection-pic">

                            <div class="connect-name">
                            Jon Sparling</div>
                            <div class="connect-name">
                            Vice-Pres, BankUSA</div>

                            <a href="#">
                              <div class="connect-button">
                              Connect</div>
                            </a>  

                          </div><!--connect-box-->

                          <div class="connect-box">

                            <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAKDAAAAJDJiYTBmNDQxLTU1NTEtNDhjOS1hNzc5LTkzNDc2NTQ2OTI4Yg.jpg" class="connection-pic">

                            <div class="connect-name">
                            Robert Herjavec</div>
                            <div class="connect-name">
                            CEO and Shark</div>

                            <a href="#">
                              <div class="connect-button">
                              Connect</div>
                            </a>  

                          </div><!--connect-box-->

                          <div class="connect-box">

                            <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAZdAAAAJDI2ZGMzODkyLTQ1YzItNGNlZS05MjEwLWI4MjM0ZDFjNzA0MA.jpg" class="connection-pic">

                            <div class="connect-name">
                            Lindsey Kleumpers</div>
                            <div class="connect-name">
                            Sales, InsureMe</div>

                            <a href="#">
                              <div class="connect-button">
                              Connect</div>
                            </a>  

                          </div><!--connect-box-->

                         </div><!--connection-wrap--> 
                        
                        </div><!--activity-wrap-->
                      
                      </div><!--button-content-->

                    

          <!--    NEWS CONTENT -->            

                      <div class="button-content" id="buttonNews">
                        
                        <div class="news-wrap">

                          <div class="news-personal">
                            <a href="#">
                              <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/5/000/246/035/27271ca.jpg" class="news-picture">
                            </a>  
                            
                            <div class="news-info">
                              <li>
                                <a href="#">
                                  <span style="color:#0071BC">Andrew J. Baker</span>
                                </a> has an updated profile:
                              </li>
                              <li>
                               <i class="fa fa-hand-paper-o news-icon">
                               </i>Volunteering - Community develpoment at D.C Kids
                              </li>
                              <li>
                                <a href="#">
                                  <span style="color:#0071BC">Like
                                  </span> 
                                </a>|
                                <a href="#">
                                  <span style="color:#0071BC"> Comment
                                  </span>
                                </a>
                              </li>
                            </div>  
                          </div><!--news-personal-->
          
                          <div class="news-personal">
                          
                            <a href="#">
                              <img src="https://media.licdn.com/mpr/mpr/shrink_200_200/AAEAAQAAAAAAAAOWAAAAJGQwNTFkNThlLTFjZmItNDk2NS05NWU4LThiYjZlMmNjZDkyYg.png" class="news-picture">
                            </a>  

                            <div class="news-info">
                              <li>
                                <a href="#">
                                  <span style="color:#0071BC">The Iron Yard</span>
                                </a> has shared a link:
                              </li>
                              <li>Interesting facts are presented here. Are we ready for the challenges ahead?
                              </li>
                              <li>
                                <a href="#">
                                  <div class="news-shared-article">
                                    <img src="http://campioncochin.net/images/contentimgs/labs_big.jpg" class="shared-pic-icon"> 
                                  Studies show that the computer is bring more people world-wide attention than ever before.
                                  </div>
                                </a>    
                              </li>  
                              <li>
                                <a href="#">
                                  <span style="color:#0071BC">Like
                                  </span> 
                                </a>|
                                <a href="#">
                                  <span style="color:#0071BC"> Comment
                                  </span>
                                </a>
                              </li>


                            </div>  
                            

                          </div>

                          <div class="news-personal">
                            <a href="#">
                              <img src="http://static1.squarespace.com/static/5459038be4b0d859e80156a1/t/55d72a0ee4b00ab3960e7a89/1440164370433/lisa_anderon.jpg?format=500w" class="news-picture">
                            </a>
                            <div class="news-info">
                              <li>
                                <a href="#">
                                  <span style="color:#0071BC">Lisa Anderson</span>
                                </a> has an updated profile:
                              </li>
                              <li>
                               <i class="fa fa-hand-paper-o news-icon">
                               </i>Volunteering - After school tutor at Teach Dallas
                              </li>
                              <li>
                                <a href="#">
                                  <span style="color:#0071BC">Like
                                  </span> 
                                </a>|
                                <a href="#">
                                  <span style="color:#0071BC"> Comment
                                  </span>
                                </a>
                              </li>
                            </div>  

                          </div>    
            
                        </div><!--news-wrap-->

                      </div><!--button-content-->  

                    
                  </div>
            </div>
  
   
       
        
        
        </div>
      </div>
    
    <!--This include tag adds /_includes/footer.html to every page that has layout: default in the front matter -->
    {% include footer.html %}
<script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
<script src="/JQuery/main.js" type="text/javascript"></script>
  </body>

</html>
