---

---

<!--Version 1 of LinkedIn Dashboard Page-->

<!DOCTYPE html>
<html>

  <!--This include tag adds /_includes/head.html to every page that has layout: default in the front matter -->

  {% include head1.html %}

  <body>
    
    <!--This include tag adds /_includes/header.html to every page that has layout: default in the front matter -->
    {% include header.html %}


      <div class="row">
        <!--Any content underneath the front matter in a page that has layout: default will be inserted here-->
        {{ content }}

        <div class="col col-11 main-body">

            <div class="col col-8 center-info">
                  
               
                <div class="center-search-bar">  
                  <form action="">
                    <input type="text" placeholder="Search for people, jobs, companies"/>
                  </form>
                </div>  
                  <a href="#">
                  <div class="search-icon">
                    <div class="icon-move">
                       <i class="fa fa-search"></i>
                    </div>   
                  </div>
                  </a>

                  <div class="center-main-box">
                    <div class="center-main-box-header">
                      
                      <div class="button-wrapper">
                        <a href="#" class="button active" data-ui="buttonActive">ACTIVE</a>
                        <a href="#" class="button" data-ui="buttonNews">NEWS</a>
                      </div>    

                        
                      <div class="button-content active" id="buttonActive">This is active</div>

                      <div class="button-content" id="buttonNews">This is news</div>  

                    </div>  
                  </div>
            </div>
  
   <!--  RIGHT SIDE INFO -->         

            <div class="col col-3 info-bar">
              
   <!--  PROFILE PIC INFO BOX --> 

              <div class="profile-box">
                
                <div class="picture-info-wrap">
                  <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/6/005/07f/3df/11ee9f1.jpg" class="profile-pic">
                  <div class="profile-box-name">
                    <li>Scott Anderson</li>
                    <li>UI Design Student</li>
                  </div>  
                </div>  
                  
                <a href="#">   
                  <div class="profile-box-edit">Edit your profile</div>
                </a>
              </div>

   <!--  SHARE BUTTONS -->   

            <div class="share-button-wrap">        

              <a href="#">
                <div class="share-button">Share an update</div>
              </a>  
              
              <a href="#">
                <div class="share-button">Upload a photo</div>
              </a>  
              
              <a href="#">
                <div class="share-button">Publish a post</div>
              </a>  

            </div>  

  <!--  FRIENDS EMAIL -->

              <div class="email-box-wrap">
                <div class="friends-invite">Invite Friends</div>

                <div class="friends-email">
                  <form action="">
                    <input type="text" placeholder="Friends Email"/>
                  </form>
                </div>

              </div>

   <!--  AD SPACE -->
   
              <div class="ad-box">
                <div class="ad-text">
                  [Ad Space]
                </div>
              </div>           

            </div>
       
        
        
        </div>
      </div>
    
    <!--This include tag adds /_includes/footer.html to every page that has layout: default in the front matter -->
    {% include footer.html %}
<script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
<script src="/JQuery/main.js" type="text/javascript"></script>
  </body>

</html>
