<header class="site-header">

<div class="row">
	<div class="col col-6">

		<a href="#">	
			<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/768px-LinkedIn_logo_initials.png" class="logo">
		</a>	


		<ul class="nav-bar">
			<a href="#" class="nav-li">HOME</a>
			<a href="#" class="nav-li">PROFILE</a>
			<a href="#" class="nav-li">MY NETWORK</a>
			<a href="#" class="nav-li">EDUCATION</a>
			<a href="#" class="nav-li">JOBS</a>
			<a href="#" class="nav-li">INTERESTS</a>
		</ul>	
	
	</div>
</div>	

</header>
