<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    {% include header.html %}
    <div class="row">
        <div class="col col-5 main-body">
            <img src="/assets/Logo-04.gif" class="logo">
        </div>
    </div>
    <div class="page-content">
        <div class="content-wrapper">
            {{ content }}
        </div>
    </div>
    {% include footer.html %}
    <script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
    <script src="../JQuery/mainLI.js" type="text/javascript"></script>
</body>

</html>
